/* Blanco: #fff */
/* Gris Barra: #959ba0 */
/* Azul Barra: #0575E6 */
/* Azul marino: #273469; */
/* Azul acero: #254978; */
/* Azul brillante: #5A96E6 */


/********************
VARIABLES
*********************/

$blanco: #fff;

$grisBarra: #959ba0;
$azulBarra: #0575E6;
$azulMarinoBarra: #021B79;

$azulMarino: #273469;
$azulBrillante: #5A96E6;
$azulAcero: #254978;